@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype-variations");
}

// font weight 500, 700, 800 *18px for paragraphs

// Primary colors
$primary-light-red: hsl(0, 100%, 67%);
$primary-orangey-yellow: hsl(39, 100%, 56%);
$primary-green-teal: hsl(166, 100%, 37%);
$primary-cobalt-blue: hsl(234, 85%, 45%);

// Gradients

$background-light-slate-blue: hsl(252, 100%, 67%);
$background-light-royal-blue: hsl(241, 81%, 54%);
$circle-violet-blue: hsla(256, 72%, 46%, 1);
$circle-persian-blue: hsla(241, 72%, 46%, 0.5);

// Neutral

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Mixin for media queries
@mixin max-device-width($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: rgba($pale-blue, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: min(32rem, 50vw);
  min-height: 90vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  @include max-device-width(585px) {
    grid-template-columns: 1fr;
  }

  .left-container {
    width: clamp(18rem, 5vw + 1rem, 25vw);
    height: clamp(23.5rem, 5vh + 1rem, 52.5vh);
    background: linear-gradient(to bottom,
        $background-light-slate-blue 0%,
        $background-light-royal-blue 90%);
    border-radius: 16px;

    @include max-device-width(426px) {
      width: 90vw;
    }

    @include max-device-width(376px) {
      width: 100vw;
    }

    .hero-text-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      margin-top: 1.5rem;

      p:nth-child(1) {
        font-size: clamp(1.125rem, 5vw + 0.5rem, 1.5rem);
      }

      p:nth-child(2) {
        font-size: clamp(0.875rem, 5vw + 0.5rem, 1.2rem);
        opacity: 0.5;
      }

      .circle {
        background: linear-gradient(to bottom,
            $circle-violet-blue 30%,
            $circle-persian-blue);
        width: clamp(125px, 5vw + 15rem, 150px);
        height: clamp(125px, 5vw + 15rem, 150px);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: clamp(2.5rem, 5vw + 0.5rem, 3.5rem);
        }
      }

      h4 {
        font-size: clamp(1rem, 5vw + 1rem, 1.5rem);
      }

      h1,
      h4,
      p {
        text-align: center;
      }

      h1,
      h4 {
        color: $white ;
      }

      p {
        color: $light-lavender;
      }

      .score-description {
        max-width: 25ch;
        line-height: 1.5;
        font-size: clamp(0.875rem, 5%, 2rem);
        margin-top: -0.6rem;
      }

    }
  }


  .right-container {
    display: flex;
    flex-direction: column;
    width: clamp(18rem, 5vw + 1rem, 25vw);
    height: clamp(23.5rem, 5vh + 1rem, 52.5vh);
    background-color: $white;
    border-radius: 16px;

    @include max-device-width(426px) {
      width: 90vw;
    }

    @include max-device-width(376px) {
      width: 100vw;
    }

    .hero-text-right {
      display: flex;
      flex-direction: column;
      gap: clamp(0.7rem, 1vh + 0.5rem, 3vh);
      margin-top: 1.5rem;
      padding: 0 1.5rem 0 1.5rem;

      h5 {
        font-size: clamp(1.125rem, 5vw + 0.5rem, 1.5rem);
        color: $dark-gray-blue;
      }

      p {
        display: flex;
        padding: clamp(0.5rem, 50%, 0.6rem);

        span {
          display: flex;
          align-items: center;
          font-size: clamp(0.875rem, 5%, 2rem);
          font-weight: 600;

          img {
            margin-right: 0.5rem;
          }
        }
      }

      .item-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
      }

      .span {
        margin-right: 0.5rem;
      }

      .reaction {
        background-color: rgba($primary-light-red, 0.1);
      }

      .reaction-name {
        color: $primary-light-red;
      }

      .memory {
        background-color: rgba($primary-orangey-yellow, 0.1);
      }

      .memory-name {
        color: $primary-orangey-yellow;
      }

      .verbal {
        background-color: rgba($primary-green-teal, 0.1);
      }

      .verbal-name {
        color: $primary-green-teal;
      }

      .visual {
        background-color: rgba($primary-cobalt-blue, 0.1);
      }

      .visual-name {
        color: $primary-cobalt-blue;
      }

      .reaction-score,
      .memory-score,
      .verbal-score,
      .visual-score {
        color: $dark-gray-blue;
        font-weight: 700;
      }

      .total {
        color: rgba($dark-gray-blue, 0.6);
        font-weight: 500;
      }

      .btn {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;

        input {
          background-color: $dark-gray-blue;
          color: $white;
          font-size: clamp(0.875rem, 5%, 2rem);
          font-weight: 600;
          padding: 0.8rem 5.7rem;
          border: 1px solid $dark-gray-blue;
          border-radius: 20px;
          cursor: pointer;

          &:hover {
            background-color: $background-light-royal-blue;
            border: 1px solid $background-light-royal-blue;
          }
        }
      }
    }
  }
}

footer {

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }

  }
}