@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype-variations");
}

// font weight 500, 700, 800 *18px for paragraphs

// Primary colors
$primary-light-red: hsl(0, 100%, 67%);
$primary-orangey-yellow: hsl(39, 100%, 56%);
$primary-green-teal: hsl(166, 100%, 37%);
$primary-cobalt-blue: hsl(234, 85%, 45%);

// Gradients

$background-light-slate-blue: hsl(252, 100%, 67%);
$background-light-royal-blue: hsl(241, 81%, 54%);
$circle-violet-blue: hsla(256, 72%, 46%, 1);
$circle-persian-blue: hsla(241, 72%, 46%, 0.5);

// Neutral

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: rgba($pale-blue, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50vw;
  height: 90vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  .left-container {
    width: 25vw;
    height: 19rem;
    background: linear-gradient(to bottom,
        $background-light-slate-blue 0%,
        $background-light-royal-blue 90%);
    border-radius: 16px;

    .hero-text-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      margin-top: 1.5rem;

      p:nth-child(1) {
        font-size: 1.125rem;
      }

      p:nth-child(2) {
        font-size: 0.875rem;
        opacity: 0.5;
      }

      .circle {
        background: linear-gradient(to bottom,
            $circle-violet-blue 30%,
            $circle-persian-blue);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1,
      h4,
      p {
        text-align: center;
      }

      h1,
      h4 {
        color: $white ;
      }

      p {
        color: $light-lavender;
      }

      .score-description {
        max-width: 25ch;
        line-height: 1.2;
        font-size: 0.875rem;
      }

    }
  }


  .right-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 19rem;
    background-color: $white;
  }

  .hero-text-right {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;

    h5 {
      font-size: 1.125rem;
      color: $dark-gray-blue;
    }

    p {
      display: flex;
      justify-content: space-between;
    }
  }


}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }

}